**/.DS_Store
*/*/.DS_Store
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile
**/CMakeFiles/
.vscode/settings.json
*/.DS_Store
*/*/.DS_Store
./MAX/perlin/CMakeFiles
run
CMakeFiles/
.DS_Store
Makefile
CMakeCache.txt
cmake_install.cmake
.vscode/settings.json
.vscode/c_cpp_properties.json
CLI/IN_CLASS/ca
CLI/IN_CLASS/10print
CLI/GOL/vt
CLI/CA/ca
CLI/GOL/run
CLI/.DS_Store
